{
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "mocha": true
    },
    "extends": ["eslint:recommended", "plugin:vue/recommended"],
    "parser": "vue-eslint-parser",
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": ["vue"],
    "rules": {
        "import/no-named-as-default-member": "off",
        "vue/max-attributes-per-line": [
            2,
            {
                "singleline": 1,
                "multiline": {
                    "max": 1,
                    "allowFirstLine": true
                }
            }
        ],
        "vue/html-indent": [
            "error",
            4,
            {
                "attribute": 1,
                "closeBracket": 0,
                "alignAttributesVertically": true,
                "ignores": []
            }
        ],
        "indent": [
            "warn",
            4,
            {
                "MemberExpression": 1
            }
        ],
        "linebreak-style": ["error", "windows"],
        "quotes": [
            "warn",
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "semi": ["error", "always"],
        "no-console": "off",
        "no-unused-vars": "warn",
        "space-before-function-paren": ["error", "never"],
        "operator-linebreak": "off",
        "eol-last": "off",
        "no-throw-literal": "off",
        "prefer-const": "error",
        "no-global-assign": [
            "error",
            {
                "exceptions": ["Object"]
            }
        ]
    },
    "globals": {
        "_": true
    }
}
