$text-font: 'Noto Sans', sans-serif;

$color: #38f;

$scroll-bar-color: rgba(0, 0, 0, 0.2);

$light-text-color: #1e1e1e;
$light-line-color: #ccc;
$light-background: #ddd;
$light-background-hover: rgba(black, 0.15);
$light-background-active: rgba(black, 0.3);

$dark-text-color: #738699;
$dark-line-color: #343d4a;
$dark-background: #212733;
$dark-background-hover: rgba(black, 0.5);
$dark-background-active: rgba(black, 0.3);

$side-width: 250px;

%dark-shadow {
    box-shadow: 0 0 10px rgba(black, 0.75);
}

%light-shadow {
    box-shadow: 0 0 10px rgba(black, 0.3);
}

%dark-hover {
    background-color: $dark-background-hover;
}

%light-hover {
    background-color: $light-background-hover;
}

$table-row-height: 20px;
$table-margin: 15px;
$table-radius: 5px;
$light-table-border: rgba(black, 0.2);
$table-font-size: 15px;
