.list {
    > .table-row {
        &.table-small-item {
            input {
                font-size: 17px;
            }
            &.list-enter-to,
            &.list-leave {
                height: 45px;
                opacity: 1;
            }
        }
        &.table-medium-item {
            input {
                font-size: 17px;
            }
            &.list-enter-to,
            &.list-leave {
                height: 70px;
                opacity: 1;
            }
        }
    }
}
