input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.round {
    border-radius: 3px;
}

.green-text {
    color: #27ae60;
}

.orange-text {
    color: #e67e22;
}

.bold {
    font-weight: bold;
}

.noOverflow {
    overflow: hidden;
}

.light {
    .shadow {
        box-shadow: 0 0 5px $light-shadow-color;
        background: white;
    }
}

.nanobar > .bar {
    background: $color;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($color, 0.3);
}

.dark {
    box-shadow: 0 0 10px $dark-shadow-color;
    background: $dark-background;
}
