input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.noOverflow {
    overflow: hidden;
}

.light {
    .shadow {
        @extend %light-shadow;
        box-shadow: 0 0 5px rgba(black, 0.2);
        background: white;
    }
}

.nanobar > .bar {
    background: $color;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba($color, 0.3);
}

.dark {
    @extend %dark-shadow;
    background: $dark-background;
}
