@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Pacifico|Roboto:100,200,300');

@font-face {
    font-family: 'ai-web-font';
    src: url('./fonts/aicon.ttf') format('truetype'),
        url('./fonts/aicon.woff') format('woff'),
        url('./fonts/aicon.svg#ai-web-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'ai-web-font';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
