.list {
    .table-row {
        .book-item {
            input {
                font-size: 17px;
            }
            &.list-enter-to,
            &.list-leave {
                height: 45px;
                opacity: 1;
            }
        }
    }
}
